// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  p {
    font-size: 20px;
  }
}

.card {
  max-width:80%;
  margin: auto;
  padding-top: 20px;
  bottom-margin: 10px;
}
